<div class="container mt-4" data-turbo-prefetch="false">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h1>Tasks</h1>
    <%= link_to "New task", new_task_path, class: "btn btn-primary" %>
  </div>

  <hr class="my-4">

  <%= render 'nav_pills', tasks: @tasks, tab_status: @tab_status %>

  <!-- Add a horizontal line here -->
  <hr class="mb-2">

  <%= render 'tasks_container', tasks: @tasks, tab_status: @tab_status %>
</div>