<%= turbo_frame_tag "tasks-container" do %>
  <%= render @task %>
<% end %>
<div>
  <%= link_to "Edit this task", edit_task_path(@task) , class: "btn btn-outline-primary" %> |
  <%= link_to "Back to tasks", tasks_path, class: "btn btn-outline-secondary", data: { turbo: false} %>
</div>
