<div class="container text-center">
  <h1 class="mt-5">404 - Page Not Found (;-;)</h1>
  <p class="lead">Oops! The page you're looking for doesn't exist.</p>
  <p>It might have been moved or deleted, or perhaps you mistyped the URL.</p>
  <%= link_to "Go to Homepage", root_path, class: "btn btn-primary mt-3" %>
</div>